// style
.contacts-section {
    background-image: linear-gradient(to top, #fff5f6 80%, #fff 20%);

    @media screen and(min-width: 768px) {
        background-image: linear-gradient(to top, #fff5f6 50%, #fff 50%);
    }

    @media screen and(min-width: 1200px) {
        background-image: linear-gradient(to top, #fff5f6 80%, #fff 20%);
        // width: 100%;
        // min-height: 382px;
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: center 50%;

        // @media (min-device-pixel-ratio: 2),
        // (min-resolution: 192dpi),
        // (min-resolution: 2dppx) {
        //     background-image: linear-gradient(to top, #fff5f6 80%, #ffffff 20%);
        // }
    }
}

// .visually-hidden {
//     position: absolute;
//     white-space: nowrap;
//     width: 1px;
//     height: 1px;
//     overflow: hidden;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     clip-path: inset(50%);
//     margin: -1px;
// }

// .container-bottom {
//     padding: 0 20px;
//     margin-left: auto;
//     margin-right: auto;
//     min-width: 320px;

//     @media screen and (min-width: 320px) {
//       max-width: 100vw;
//     }

//     @media screen and (min-width: 768px) {
//       max-width: var(--tablet);
//       padding: 0 16px;
//     }

//     @media screen and (min-width: 1200px) {
//       max-width: var(--comp);
//     }
// }


.local {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.local__item {
    background: #fff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px;
    width: calc(100% - 40px);
    max-width: 380px;
    // flex: 1;


    @media screen and (min-width: $tablet) {
        width: 224px;
        // width: calc((100% - 64px) / 3);
    }

    @media screen and (min-width: $comp) {
        width: 368px;
        // width: calc((100% - 90px) / 4);
    }

    // @media screen and (min-width: 1200px) {
    //     padding: 40px;
    // }
        
}


.local__place {
    padding: 0 25px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.86;
    color: #ffffff;
    background-color: #f0d1a5;
    border-radius: 6px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        display: inline-block;
        font-size: 16px;
        padding: 0 16px;
        margin-bottom: 32px;
    }

    &--green {
        background-color: #c2e297;
    }
}

.local-top {
    
    padding: 20px 0 24px;
    border-bottom: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
        padding: 32px 0;
    }

    &__city {
        margin-bottom: 8px;
    

        @media screen and (min-width: 768px) {
            margin-bottom: 12px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 8px;
        }
    }

    &__descr {
        width: 179px;
        border-bottom: 1px solid #e1e1e1;
        padding: 20px 0 24px;

        @media screen and (min-width: 768px) {
            width: 158px;
        }
        @media screen and (min-width: 1200px) {
            width: 250px;
        }
    }
}

.local-schedule {
    border-bottom: 1px solid #e1e1e1;
    padding: 24px 0;

    @media screen and (min-width: 768px) {
        padding: 32px 0;
    }
}

.local__text {
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #907e82;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.66;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.83;
    }

    &--black {
            color: #000000;
            line-height: 1.86;
        }
    
        &--pink {
            color: #ffa5ba;
            line-height: 1.86;
        }
}

.local-contacts {
    padding-top: 24px;

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
    }
}

.local-contacts__link {
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #ffa5ba;
    }
}

.local-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 32px;
    

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        gap: 15px;
        margin-top: 40px;
        
    }

    @media screen and (min-width: 1200px) {
        margin-top: 60px;
        
    }
}

.button--accent{
    color: #ffffff;
    background-color: #d41443;
    border-radius: 22px;

    &:hover,
    &:focus {
        background-color: #c7133e;
    }
}

.button--main{
    color: #d41443;
    background-color: #ffffff;
    border-radius: 22px;

    &:hover,
    &:focus {
        background-color: #ecebeb;
    }
}

.button--large {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
    padding: 12px 35px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    
    
}
.icon {
    fill: #D41443;
    margin-left: 13px;
    
}

.iconn {
    fill: #FFFFFF;
    margin-left: 13px;
}

// .button__icon--append {
//     // position: absolute; }