.footer {
    background-color: var(--bg-clr);
    padding-top: 56px;

    // @media screen and (min-width: $tablet) {
    //     padding-top: 79px;
    // }
    // @media screen and (min-width: $comp) {
    //     padding-top: 82px;
    // }
}

// .footer__box {
//   @include minMedia($tab) {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 91px;
//   }

//   @include minMedia($desk) {
//     margin-bottom: 97px;
//   }
// }

.footer__name {
    display: block;
    font-family: 'Titan One';
    font-style: normal;
    text-transform: uppercase;
    @include font(18px, 21px, 400, 0.04em);
    text-transform: uppercase;
    color: var(--secondary-clr);

    margin-bottom: 40px;
    max-width: 232px;

    // @include minMedia($tab) {
    // width: 340px;
    // font-size: 26px;
    // line-height: calc(30 / 26);
    // margin: 0;
    // }

    // @include minMedia($desk) {
    // width: 472px;
    // font-size: 30px;
    // line-height: calc(34 / 30);
    // }
}

.footer__name-bottom {
    display: block;
    font-size: 34px;
    line-height: 39px;
    color: var(--main-clr);
    // width: 200px;
    margin-top: 16px;

    // @include minMedia($tab) {
    // font-size: 48px;
    // line-height: calc(55 / 48);
    // width: 340px;
    // padding-top: 16px;
    // }

    // @include minMedia($desk) {
    // font-size: 58px;
    // line-height: calc(66 / 58);
    // width: 100%;
    // }
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

//   @include minMedia($desk) {
//     margin-bottom: 50px;
//   }
}

.footer__social-item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: color var(--trasition-fast), background-color var(--trasition-fast), transform var(--trasition-fast);
    cursor: pointer;
    fill: var(--secondary-clr);

    &:hover,
    &:focus {
    fill: var(--main-clr);
    }

    // @include minMedia($tab) {
    // width: 34px;
    // height: 34px;
    // }

    &:not(:last-child) {
    margin-right: 28px;

    // @include minMedia($tab) {
    //     margin-right: 30px;
    // }

    // @include minMedia($desk) {
    //     margin-right: 24px;
    // }
    }
}

// .footer__social-icon {
//   fill: $secondary-color;
//   display: block;
// }

.footer-phone {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 40px;
}

.footer__phone-text {
    color: #000;
    @include font(12px, 22px, 700);
    // @include minMedia($tab) {
    // font-size: 14px;
    // }

    // @include minMedia($tab) {
    // font-size: 16px;
    // letter-spacing: 0.02em;
    // }
}

.footer__phone {
    margin-left: 4px;
    color: var(--main-clr);

    transform: scale(1);
    transition: color var(--trasition-fast), background-color var(--trasition-fast), transform var(--trasition-fast);
    cursor: pointer;

    // @include minMedia($tab) {
    // font-size: 14px;
    // }

    // @include minMedia($tab) {
    // font-size: 16px;
    // letter-spacing: 0.02em;
    // }

    &:hover,
    &:focus {
    color: var(--secondary-clr);
    }
}

.footer__line::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--reviews-secondary);
}

.footer__bottom-text {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 3px;
    text-align: center;
    @include font(14px, 21px, 700);
    color: var(--txt-clr);

    // @include maxMedia($preTab) {
    // display: block;
    // width: 150px;
    // }

    // @include minMedia($tab) {
    // padding-top: 29px;
    // padding-bottom: 18px;
    // line-height: 1.86;
    // letter-spacing: 0.02em;
    // }

    // @include minMedia($desk) {
    // padding-top: 9px;
    // padding-bottom: 10px;
    // }
}