.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    background-color: transparent;

    &__container {
        display: flex;
    }
}

.main-nav {
    display: none;
}

.header__btn {
    &--main {
        display: none;

        width: 160px;
    }
}

.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    width: 250px;
    height: 100vh;
    padding: 20px;

    transform: translateX(100%);

    background-color: var(--mobile-bg);
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

    // &__btn {
    //     background-color: transparent;
    // }
}

.mobile-nav {
    &__item {
        border-top: 1px solid var(--mobile-row);
        &:last-child {border-bottom: 1px solid var(--mobile-row);}
    }
    &__link {
        display: block;
        padding: 12px 0;
        @include font(14px, 18px, 700, 0);
        color: #fff;
        &:hover {
            color: var(--main-clr);
        }
    }
}

.icon {
    width: 10px;
    height: 10px;
}