.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    padding-top: 8px;

    @media screen and (min-width: $tablet) {
        padding-top: 32px;
    }
    @media screen and (min-width: $comp) {
        padding-top: 40px;
    }

    background-color: transparent;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-nav {
    display: none;
    @media screen and (min-width: $comp) {
        display: block;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 35px;
    }
    &__link {
        display: block;
        padding: 12px 0;
        @include font(16px, 21px, 700, 0);
        color: #fff;

        &:hover {
            color: var(--main-clr);
        }
    }
}

.header__btn {
    &--main {
        display: none;
        width: 160px;

        @media screen and (min-width: $tablet) {
        display: flex;
        margin-left: 22px;
        }
    }
    &--mobile {
        width: 100%;
        margin-top: 11px;
    }
}

.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    width: 250px;
    height: 100vh;
    padding: 20px;

    // transform: translateX(100%);

    background-color: var(--mobile-bg);
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

    @media screen and (min-width: $comp) {display: none;}
    &__btn {
        margin-left: auto;
        @media screen and (min-width: $comp) {display: none;}
        // background-color: transparent;
    }
    &__icon {display: inline-block;}
}

.mobile-nav {
    margin-top: 20px;

    &__item {
        border-top: 1px solid var(--mobile-row);
        &:last-child {border-bottom: 1px solid var(--mobile-row);}
    }
    &__link {
        display: block;
        padding: 12px 0;
        @include font(14px, 18px, 700, 0);
        color: #fff;
        &:hover {
            color: var(--main-clr);
        }
    }
}

.icon {
    width: 10px;
    height: 10px;
}