// style

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  &__label {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-clr);
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
      margin-bottom: 18px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 16px;
    }
  }
  &__list {
    list-style: none;
    
    @media screen and (min-width: 768px) {
      display: flex;
      position: relative;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-clr);
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 48px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
    }
  }
  &__item {
    padding-top: 148px;
    position: relative;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      margin-left: 8px;
      margin-right: 8px;
    }
    // @media screen and (max-width: 1199px) {
    //   max-width: 224px;
    // }
    @media screen and (min-width: 1200px) {
      padding-top: 261px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  &__name {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 32px;
    @media screen and (min-width: 1200px) {
      font-size: 30px;
    }
  }
  &__wrapper {
    width: 100%;
    min-height: 489px;
    border-radius: 24px;
    padding: 160px 40px 40px;
    @media screen and (min-width: 768px) {
      min-height: 473px;
      padding: 118px 24px 60px;
    }
    @media screen and (min-width: 1200px) {
      min-height: 535px;
      padding: 165px 62px 60px;
    }
  }
  &__first {
    background-color: var(--pink);
  }
  &__second {
    background-color: var(--latte);
  }
  &__third {
    background-color: var(--green);
  }
  &__first::before {
    content: '';
    width: 280px;
    height: 280px;
    max-width: 100%;
    background-image: url(../images/img/products/products_ice-cream1_sm.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/img/products/products_ice-cream1_sm@2x.png);
      }
    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      background-image: url(../images/img/products/products_ice-cream1_tab.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/img/products/products_ice-cream1_tab@2x.png);
        }
    }
    @media screen and (min-width: 1200px) {
      width: 368px;
      height: 394px;
      background-image: url(../images/img/products/products_ice-cream1_lap.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/img/products/products_ice-cream1_lap@2x.png);
        }
    }
  }
  &__second::before {
    content: '';
    width: 280px;
    height: 280px;
    max-width: 100%;
    background-image: url(../images/img/products/products_ice-cream2_sm.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/img/products/products_ice-cream02_sm@2x.png);
      }
    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      background-image: url(../images/img/products/products_ice-cream2_tab.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/img/products/products_ice-cream2_tab@2x.png);
        }
    }
    @media screen and (min-width: 1200px) {
      width: 368px;
      height: 394px;
      background-image: url(../images/img/products/products_ice-cream2_lap.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/img/products/products_ice-cream2_lap@2x.png);
        }
    }
  }
  &__third::before {
    content: '';
    width: 280px;
    height: 280px;
    max-width: 100%;
    background-image: url(../images/img/products/products_ice-cream3_sm.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/img/products/products_ice-cream3_tab@2x.png);
      }
    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      background-image: url(../images/img/products/products_ice-cream3_tab.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/img/products/products_ice-cream3_tab@2x.png);
        }
    }
    @media screen and (min-width: 1200px) {
      width: 368px;
      height: 394px;
      background-image: url(../images/img/products/products_ice-cream3_lap.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/img/products/products_ice-cream3_tab@2x.png);
        }
    }
  }
  &__dots-box {
    margin: 0 auto 32px;
  }
  &__dots {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  &__dots::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
    display: block;
  }
  &__dots::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
  }
  &__txt {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 32px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 60px;
      font-size: 16px;
    }
  }
  &__button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 0.25s;
    display: flex;
    position: relative;
  }
   &__button:hover {
    background-color: var(--bg-clr);
   }
  &__icon {
    z-index: 2;
    width: 15px;
    height: 15px;
    fill: var(--main-clr);
  }
}

