<section class="customer-reviews">
  <div class="container-bottom">
    <div class="rev_slider">
      <div class="slide">
        <img
          class="customer-reviews__img"
          srcset="
            ./images/img/customer/customer1@2x.png 2x,
            ./images/img/customer/customer1@3x.png 3x
          "
          src="./images/img/customer/customer1.png"
          alt="icon-photo"
          width="85"
          height="85"
        />
        <div class="customer-reviews__block">
          <p class="customer-reviews__text">
            The heat has come. And I wanted ice cream. Ice cream Rud is always
            tasty, delicious and high quality. And the ice cream, also has a
            natural composition. I recommend this ice cream.
          </p>
          <svg class="customer-reviews__quotes">
            <use
              href="./images/icons.svg#icon-quotes"
              width="54"
              height="40"
            ></use>
          </svg>
        </div>
        <svg class="customer-reviews__dots">
          <use href="./images/icons.svg#icon-dots"></use>
        </svg>

        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </div>

      <div class="slide">
        <img
          class="customer-reviews__img"
          srcset="
            ./images/img/customer/customer2@2x.png 2x,
            ./images/img/customer/customer2@3x.png 3x
          "
          src="./images/img/customer/customer2.png"
          alt="icon-photo"
          width="85"
          height="85"
        />
        <div class="customer-reviews__block">
          <p class="customer-reviews__text">
            Another ice cream that I decided to try from this manufacturer.
            Although I have long outgrown the “children” category, some habits
            remain. This company's ice cream is the best in the world.
          </p>
          <svg class="customer-reviews__quotes">
            <use
              href="./images/icons.svg#icon-quotes"
              width="54"
              height="40"
            ></use>
          </svg>
        </div>

        <svg class="customer-reviews__dots">
          <use href="./images/icons.svg#icon-dots"></use>
        </svg>

        <p class="customer-reviews__name">Naomi, New York</p>
      </div>

      <div class="slide">
        <img
          class="customer-reviews__img"
          srcset="
            ./images/img/customer/customer3@2x.png 2x,
            ./images/img/customer/customer3@3x.png 3x
          "
          src="./images/img/customer/customer3.png"
          alt="icon-photo"
          width="85"
          height="85"
        />
        <div class="customer-reviews__block">
          <p class="customer-reviews__text">
            In the summer, our family loves to enjoy ice cream. Since we have a
            baby who has not yet turned two years old, ice cream for him was
            chosen very carefully. This is the best ice cream.
          </p>
          <svg class="customer-reviews__quotes">
            <use
              href="./images/icons.svg#icon-quotes"
              width="54"
              height="40"
            ></use>
          </svg>
        </div>
        <svg class="customer-reviews__dots">
          <use href="./images/icons.svg#icon-dots"></use>
        </svg>

        <p class="customer-reviews__name">Emma, Chicago</p>
      </div>
    </div>
    <svg class="customer-reviews__dots">
      <use href="./images/icons.svg#icon-dots" width="4" height="4"></use>
    </svg>
  </div>
</section>
<script src="./slick/slick.js"></script>
<script src="./js/slider.js"></script>
