<section class="hero">
  <div class="container-top hero-container">
    <div class="hero__text">
      <h1 class="hero__title animate__animated animate__flipInY">
        ice cream<br />
        made with<br />
        <span class="hero__title--different-colour">passion</span>
      </h1>
      <ul class="hero__links">
        <li class="hero__li"><a href="#products">Products</a></li>
        <li class="hero__li hero__li--second-color">
          <a href="#about">How it’s made?</a>
        </li>
      </ul>
    </div>
    <img
      class="hero__ice"
      srcset="
        ./images/img/hero/hero_ice_sm.png     171w,
        ./images/img/hero/hero_ice_sm@2x.png  342w,
        ./images/img/hero/hero_ice_sm@3x.png  513w,
        ./images/img/hero/hero_ice_tab.png    143w,
        ./images/img/hero/hero_ice_tab@2x.png 286w,
        ./images/img/hero/hero_ice_tab@3x.png 429w,
        ./images/img/hero/hero_ice_lap.png    236w,
        ./images/img/hero/hero_ice_lap@2x.png 472w,
        ./images/img/hero/hero_ice_lap@3x.png 708w
      "
      sizes="(min-width: 1200px) 236px, (min-width: 768px) 143px, (max-width: 767px) 171px, 100vw"
      src="./images/img/hero/hero_ice_sm.png"
      alt="ice-cream"
    />
    <div class="hero-box">
      <img
        class="hero-box__milk"
        srcset="
          ./images/img/hero/milk_tab.png    152w,
          ./images/img/hero/milk_tab@2x.png 304w,
          ./images/img/hero/milk_tab@3x.png 456w,
          ./images/img/hero/milk_lap.png    152w,
          ./images/img/hero/milk_lap@2x.png 304w,
          ./images/img/hero/milk_lap@3x.png 456w
        "
        sizes="(min-width: 1200px) 213px, (min-width: 768px) 152px, 100vw"
        src="./images/img/hero/milk_tab.png"
        alt="milk"
      />
      <div class="hero-box__description">
        <p class="hero-box__text">
          There are factories that still make ice cream from whole milk and
          these factories are with us ... just try
        </p>
        <div class="hero-box__icon-box">
          <svg class="hero-box__icon" width="7" height="7">
            <use href="./images/icons.svg#icon-arrow-big"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="hero-info">
      <ul>
        <li class="hero-info__text">
          <span class="hero-info__number">16</span>
          cafes
        </li>
        <li class="hero-info__text">
          <span class="hero-info__number">23</span>
          food trucks
        </li>
      </ul>
    </div>
    <img
      class="hero-info__girl"
      srcset="
        ./images/img/hero/girl_tab.png    190w,
        ./images/img/hero/girl_tab@2x.png 380w,
        ./images/img/hero/girl_tab@3x.png 570w,
        ./images/img/hero/girl_lap.png    304w,
        ./images/img/hero/girl_lap@2x.png 608w,
        ./images/img/hero/girl_lap@3x.png 912w
      "
      sizes="(min-width: 1200px) 304px, (min-width: 768px) 190px, 100vw"
      src="./images/img/hero/girl_tab.png"
      alt="girl"
    />
  </div>
  <div class="hero__circle"></div>
</section>
