<section class="products" id="products">
  <p class="products__label">100% natural</p>
  <h2 class="products__title">Products</h2>
  <ul class="products__list">
    <li class="products__item">
      <div class="products__wrapper products__first">
        <h3 class="products__name">Ice cream</h3>
        <div class="products__dots-box">
          <span class="products__dots"></span>
        </div>
        <p class="products__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" aria-label="more info">
          <svg class="products__icon">
            <use href="../src/images/icons.svg#icon-arrow-big"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="products__item">
      <div class="products__wrapper products__second">
        <h3 class="products__name">Ice coffee</h3>
        <div class="products__dots-box">
          <span class="products__dots"></span>
        </div>
        <p class="products__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" aria-label="more info">
          <svg class="products__icon">
            <use href="../src/images/icons.svg#icon-arrow-big"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="products__item">
      <div class="products__wrapper products__third">
        <h3 class="products__name">Milkshakes</h3>
        <div class="products__dots-box">
          <span class="products__dots"></span>
        </div>
        <p class="products__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" aria-label="more info">
          <svg class="products__icon">
            <use href="../src/images/icons.svg#icon-arrow-big"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</section>
<script src="./js/open-menu.js"></script>
